<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="configProperties" class="com.nm.base.framework.core.prop.PropertyPlaceholderConfigurer" scope="singleton">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<value>classpath:/config/prop/*.properties</value>
				<value>classpath:/dubbo.properties</value>
			</list>
		</property>
	</bean>
</beans>