<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hs.loan.prod.mapper.PubProdGoodsMapper" >
	<!-- 返回 Bean-->
	<resultMap id="PubProdGoodsRetMap" type="com.hs.loan.prod.entity.PubProdGoods">
			<result column="ID" property="id"/>
			<result column="GOODS_ID" property="goodsId"/>
			<result column="PROD_NO" property="prodNo"/>
			<result column="GOODS_NAME" property="goodsName"/>
	</resultMap>
	
	<!-- 新增 PUB_产品与商品类型的关系 -->
	<insert id="insert" parameterType="com.hs.loan.prod.entity.PubProdGoods">
		insert into pub_prod_goods
		(
  			ID
  			,GOODS_ID
  			,PROD_NO
  			,GOODS_NAME
    	)
    	values
    	(
  			 #{id}
  			, #{goodsId}
  			, #{prodNo}
  			, #{goodsName}
    	)
	</insert>
	
	<!-- 修改 PUB_产品与商品类型的关系 -->
	<update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
		update pub_prod_goods
		<trim prefix="SET" suffixOverrides=",">
	  				<if test="_parameter.containsKey('goodsId')">  
	  					GOODS_ID = #{goodsId},  
	  				</if>		
	  				<if test="_parameter.containsKey('prodNo')">  
	  					PROD_NO = #{prodNo},  
	  				</if>		
	  				<if test="_parameter.containsKey('goodsName')">  
	  					GOODS_NAME = #{goodsName},  
	  				</if>		
    	</trim>
		where 
  			ID = #{id}				
	</update>
	
	<!-- 删除 PUB_产品与商品类型的关系 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from pub_prod_goods
		where 
  			ID = #{id}				
	</delete>
	
	<!-- 通过主键查询 PUB_产品与商品类型的关系 -->
	<select id="getByPrimaryKey" resultMap="PubProdGoodsRetMap" parameterType="java.lang.String">
		select	
			t.*
		from pub_prod_goods t
		where 
  				t.ID = #{id}				
	</select>
	
	<!-- 查询 PUB_产品与商品类型的关系 列表 -->
	<select id="queryForList" resultMap="PubProdGoodsRetMap" parameterType="java.util.Map">
		select	
			t.*
		from pub_prod_goods t
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
				<if test="id != null and id != ''">
	  				and t.ID = #{id}				
	  			</if>
				<if test="goodsId != null and goodsId != ''">
	  				and t.GOODS_ID = #{goodsId}				
	  			</if>
				<if test="prodNo != null and prodNo != ''">
	  				and t.PROD_NO = #{prodNo}				
	  			</if>
				<if test="goodsName != null and goodsName != ''">
	  				and t.GOODS_NAME = #{goodsName}				
	  			</if>
    	</trim>
	</select>
	
	<!-- 删除 PUB_产品与商品类型的关系 -->
	<delete id="deleteByProdNo" parameterType="java.lang.String">
		delete from pub_prod_goods
		where 
  			PROD_NO = #{prodNo}				
	</delete>
</mapper>