<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hs.system.sub.mapper.SysSubMapper">
	<!-- 返回 Bean -->
	<resultMap id="SysSubRetMap" type="com.hs.system.entity.SysSub">
		<result column="ID" property="id" />
		<result column="SYS_COD" property="sysCod" />
		<result column="SYS_NAME" property="sysName" />
		<result column="SYS_IP" property="sysIp" />
		<result column="IS_ACTIVED" property="isActived" />
		<result column="INST_DATE" property="instDate" />
		<result column="UPDT_DATE" property="updtDate" />
	</resultMap>

	<!-- 新增 子系统信息 -->
	<insert id="insert" parameterType="com.hs.system.entity.SysSub">
		insert into sys_sub
		(
		ID
		,SYS_COD
		,SYS_NAME
		,SYS_IP
		,IS_ACTIVED
		,INST_DATE
		,UPDT_DATE
		)
		values
		(
		#{id}
		, #{sysCod}
		, #{sysName}
		, #{sysIp}
		, #{isActived}
		, #{instDate}
		, #{updtDate}
		)
	</insert>

	<!-- 修改 子系统信息 -->
	<update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
		update sys_sub
		<trim prefix="SET" suffixOverrides=",">
			<if test="_parameter.containsKey('sysCod')">
				SYS_COD = #{sysCod},
			</if>
			<if test="_parameter.containsKey('sysName')">
				SYS_NAME = #{sysName},
			</if>
			<if test="_parameter.containsKey('sysIp')">
				SYS_IP = #{sysIp},
			</if>
			<if test="_parameter.containsKey('isActived')">
				IS_ACTIVED = #{isActived},
			</if>
			<if test="_parameter.containsKey('instDate')">
				INST_DATE = #{instDate},
			</if>
			<if test="_parameter.containsKey('updtDate')">
				UPDT_DATE = #{updtDate},
			</if>
		</trim>
		where
		ID = #{id}
	</update>

	<!-- 删除 子系统信息 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sys_sub
		where
		ID = #{id}
	</delete>

	<!-- 通过主键查询 子系统信息 -->
	<select id="getByPrimaryKey" resultMap="SysSubRetMap"
		parameterType="java.lang.String">
		select
		t.*
		from sys_sub t
		where
		t.ID = #{id}
	</select>

	<!-- 查询 子系统信息 列表 -->
	<select id="queryForList" resultMap="SysSubRetMap"
		parameterType="java.util.Map">
		select
		t.*
		from sys_sub t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="id != null and id != ''">
				and t.ID = #{id}
			</if>
			<if test="sysCod != null and sysCod != ''">
				and t.SYS_COD = #{sysCod}
			</if>
			<if test="sysName != null and sysName != ''">
				and t.SYS_NAME like CONCAT('%',#{sysName},'%')
			</if>
			<if test="sysIp != null and sysIp != ''">
				and t.SYS_IP = #{sysIp}
			</if>
			<if test="isActived != null and isActived != ''">
				and t.IS_ACTIVED = #{isActived}
			</if>
			<if test="instDate != null">
				and t.INST_DATE = #{instDate}
			</if>
			<if test="updtDate != null">
				and t.UPDT_DATE = #{updtDate}
			</if>
		</trim>
	</select>
</mapper>