<?xml version="1.0" encoding="UTF-8" ?>  
<configuration>  
    <property name="LOG_HOME" value="c:/logs"/>  
    <timestamp key="byDate" datePattern="yyyyMMdd"/>  
    <!-- dubbo log -->  
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <Encoding>UTF-8</Encoding>  
        <file>${LOG_HOME}/loan-collection-server.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/loan-collection-server-%d{yyyy-MM-dd}.%i-WEB.zip</fileNamePattern>  
            <maxHistory>30</maxHistory>  
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                <MaxFileSize>100MB</MaxFileSize>  
            </TimeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>
        <encoder>  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  
            <immediateFlush>true</immediateFlush>  
        </encoder>  
    </appender>  
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<layout class="ch.qos.logback.classic.PatternLayout">
      		<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    	</layout>
  	</appender>
   
  	<logger name="com.hs" level="debug"/>
 
  	<root level="INFO">
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="FILE"/>  
  	</root>
</configuration> 