<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hs.system.param.mapper.SysCodTypMapper">
	<!-- 返回 Bean -->
	<resultMap id="SysCodTypRetMap" type="com.hs.system.entity.SysCodTyp">
		<result column="ID" property="id" />
		<result column="COD_TYP" property="codTyp" />
		<result column="COD_TYP_NAME" property="codTypName" />
		<result column="STAT" property="stat" />
		<result column="INST_DATE" property="instDate" />
		<result column="UPDT_DATE" property="updtDate" />
	</resultMap>

	<!-- 新增 编码类型 -->
	<insert id="insert" parameterType="com.hs.system.entity.SysCodTyp">
		insert into sys_cod_typ
		(
		ID
		,COD_TYP
		,COD_TYP_NAME
		,STAT
		,INST_DATE
		,UPDT_DATE
		)
		values
		(
		#{id}
		, #{codTyp}
		, #{codTypName}
		, #{stat}
		, #{instDate}
		, #{updtDate}
		)
	</insert>

	<!-- 修改 编码类型 -->
	<update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
		update sys_cod_typ
		<trim prefix="SET" suffixOverrides=",">
			<if test="_parameter.containsKey('codTyp')">
				COD_TYP = #{codTyp},
			</if>
			<if test="_parameter.containsKey('codTypName')">
				COD_TYP_NAME = #{codTypName},
			</if>
			<if test="_parameter.containsKey('stat')">
				STAT = #{stat},
			</if>
			<if test="_parameter.containsKey('instDate')">
				INST_DATE = #{instDate},
			</if>
			<if test="_parameter.containsKey('updtDate')">
				UPDT_DATE = #{updtDate},
			</if>
		</trim>
		where
		ID = #{id}
	</update>

	<!-- 修改 编码类型 -->
	<update id="updateSysCodTyp" parameterType="com.hs.system.entity.SysCodTyp">
		update sys_cod_typ
		set
		COD_TYP = #{codTyp},
		COD_TYP_NAME = #{codTypName},
		STAT = #{stat},
		UPDT_DATE = #{updtDate},
		where
		ID = #{id}
	</update>

	<!-- 删除 编码类型 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sys_cod_typ
		where
		ID = #{id}
	</delete>

	<!-- 通过主键查询 编码类型 -->
	<select id="getByPrimaryKey" resultMap="SysCodTypRetMap"
		parameterType="java.lang.String">
		select
		t.*
		from sys_cod_typ t
		where
		t.ID = #{id}
	</select>

	<!-- 查询 编码类型 列表 -->
	<select id="queryForList" resultMap="SysCodTypRetMap"
		parameterType="java.util.Map">
		select
		t.*
		from sys_cod_typ t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="id != null and id != ''">
				and t.ID = #{id}
			</if>
			<if test="codTyp != null and codTyp != ''">
				and t.COD_TYP = #{codTyp}
			</if>
			<if test="codTypName != null and codTypName != ''">
				and t.COD_TYP_NAME like '%${codTypName}%'
			</if>
			<if test="stat != null and stat != ''">
				and t.STAT = #{stat}
			</if>
			<if test="instDate != null">
				and t.INST_DATE = #{instDate}
			</if>
			<if test="updtDate != null">
				and t.UPDT_DATE = #{updtDate}
			</if>
		</trim>
	</select>
</mapper>