<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hs.loan.approve.mapper.AppApprStaffSignMapper" >
	<!-- 返回 Bean-->
	<resultMap id="AppApprStaffSignRetMap" type="com.hs.loan.approve.entity.AppApprStaffSign">
			<result column="ID" property="id"/>
			<result column="GROUP_NO" property="groupNo"/>
			<result column="STAFF_NO" property="staffNo"/>
			<result column="SIGN_TYP" property="signTyp"/>
			<result column="SIGN_DATE" property="signDate"/>
			<result column="INST_DATE" property="instDate"/>
			<result column="UPDT_DATE" property="updtDate"/>
	</resultMap>
	
	<!-- 新增 APP_审批人员签到明细 -->
	<insert id="insert" parameterType="com.hs.loan.approve.entity.AppApprStaffSign">
		insert into APP_APPR_STAFF_SIGN
		(
  			ID
  			,GROUP_NO
  			,STAFF_NO
  			,SIGN_TYP
  			,SIGN_DATE
  			,INST_DATE
  			,UPDT_DATE
    	)
    	values
    	(
  			 #{id}
  			, #{groupNo}
  			, #{staffNo}
  			, #{signTyp}
  			, #{signDate}
  			, #{instDate}
  			, #{updtDate}
    	)
	</insert>
	
	<!-- 修改 APP_审批人员签到明细 -->
	<update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
		update APP_APPR_STAFF_SIGN
		<trim prefix="SET" suffixOverrides=",">
	  				<if test="_parameter.containsKey('groupNo')">  
	  					GROUP_NO = #{groupNo},  
	  				</if>		
	  				<if test="_parameter.containsKey('staffNo')">  
	  					STAFF_NO = #{staffNo},  
	  				</if>		
	  				<if test="_parameter.containsKey('signTyp')">  
	  					SIGN_TYP = #{signTyp},  
	  				</if>		
	  				<if test="_parameter.containsKey('signDate')">  
	  					SIGN_DATE = #{signDate},  
	  				</if>		
	  				<if test="_parameter.containsKey('instDate')">  
	  					INST_DATE = #{instDate},  
	  				</if>		
	  				<if test="_parameter.containsKey('updtDate')">  
	  					UPDT_DATE = #{updtDate},  
	  				</if>		
    	</trim>
		where 
  			ID = #{id}				
	</update>
	
	<!-- 删除 APP_审批人员签到明细 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from APP_APPR_STAFF_SIGN
		where 
  			ID = #{id}				
	</delete>
	
	<!-- 通过主键查询 APP_审批人员签到明细 -->
	<select id="getByPrimaryKey" resultMap="AppApprStaffSignRetMap" parameterType="java.lang.String">
		select	
			t.*
		from APP_APPR_STAFF_SIGN t
		where 
  				t.ID = #{id}				
	</select>

	<!-- 通过主键查询 APP_审批人员签到明细 -->
	<select id="getStaffStat" resultType="java.lang.String" parameterType="java.lang.String">
		select	
			sign_typ signTyp
		from APP_APPR_STAFF_SIGN t
		where 
  				t.staff_no=#{staffNo} order by sign_date desc limit 1				
	</select>
	
	<!-- 查询 APP_审批人员签到明细 列表 -->
	<select id="queryForList" resultMap="AppApprStaffSignRetMap" parameterType="java.util.Map">
		select	
			t.*
		from APP_APPR_STAFF_SIGN t
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
				<if test="id != null and id != ''">
	  				and t.ID = #{id}				
	  			</if>
				<if test="groupNo != null and groupNo != ''">
	  				and t.GROUP_NO = #{groupNo}				
	  			</if>
				<if test="staffNo != null and staffNo != ''">
	  				and t.STAFF_NO = #{staffNo}				
	  			</if>
				<if test="signTyp != null and signTyp != ''">
	  				and t.SIGN_TYP = #{signTyp}				
	  			</if>
				<if test="signDate != null">
	  				and t.SIGN_DATE = #{signDate}				
	  			</if>
				<if test="instDate != null">
	  				and t.INST_DATE = #{instDate}				
	  			</if>
				<if test="updtDate != null">
	  				and t.UPDT_DATE = #{updtDate}				
	  			</if>
    	</trim>
	</select>
</mapper>