<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hs.loan.author.mapper.AppLoanBranchspcailpriBranchHMapper" >
	<!-- 返回 Bean-->
	<resultMap id="AppLoanBranchspcailpriBranchHRetMap" type="com.hs.loan.author.entity.AppLoanBranchspcailpriBranchH">
			<result column="ID" property="id"/>
			<result column="BRANCH_NO" property="branchNo"/>
			<result column="BRANCH_NAME" property="branchName"/>
			<result column="INST_DATE" property="instDate"/>
			<result column="END_DATE" property="endDate"/>
			<result column="HAND_PERSON" property="handPerson"/>
			<result column="ORG_NO" property="orgNo"/>
	</resultMap>
	
	<!-- 新增 APP_商户直通车权限历史 -->
	<insert id="insert" parameterType="com.hs.loan.author.entity.AppLoanBranchspcailpriBranchH">
		insert into APP_LOAN_BRANCHSPCAILPRI_BRANCH_H
		(
  			ID
  			,BRANCH_NO
  			,BRANCH_NAME
  			,INST_DATE
  			,END_DATE
  			,HAND_PERSON
  			,ORG_NO
    	)
    	values
    	(
  			 #{id}
  			, #{branchNo}
  			, #{branchName}
  			, #{instDate}
  			, #{endDate}
  			, #{handPerson}
  			, #{orgNo}
    	)
	</insert>
	
	<!-- 修改 APP_商户直通车权限历史 -->
	<update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
		update APP_LOAN_BRANCHSPCAILPRI_BRANCH_H
		<trim prefix="SET" suffixOverrides=",">
	  				<if test="_parameter.containsKey('branchNo')">  
	  					BRANCH_NO = #{branchNo},  
	  				</if>		
	  				<if test="_parameter.containsKey('branchName')">  
	  					BRANCH_NAME = #{branchName},  
	  				</if>		
	  				<if test="_parameter.containsKey('instDate')">  
	  					INST_DATE = #{instDate},  
	  				</if>		
	  				<if test="_parameter.containsKey('endDate')">  
	  					END_DATE = #{endDate},  
	  				</if>		
	  				<if test="_parameter.containsKey('handPerson')">  
	  					HAND_PERSON = #{handPerson},  
	  				</if>		
	  				<if test="_parameter.containsKey('orgNo')">  
	  					ORG_NO = #{orgNo},  
	  				</if>		
    	</trim>
		where 
  			ID = #{id}				
	</update>
	
	<!-- 删除 APP_商户直通车权限历史 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from APP_LOAN_BRANCHSPCAILPRI_BRANCH_H
		where 
  			ID = #{id}				
	</delete>
	
	<!-- 通过主键查询 APP_商户直通车权限历史 -->
	<select id="getByPrimaryKey" resultMap="AppLoanBranchspcailpriBranchHRetMap" parameterType="java.lang.String">
		select	
			t.*
		from APP_LOAN_BRANCHSPCAILPRI_BRANCH_H t
		where 
  				t.ID = #{id}				
	</select>
	
	<!-- 查询 APP_商户直通车权限历史 列表 -->
	<select id="queryForList" resultMap="AppLoanBranchspcailpriBranchHRetMap" parameterType="java.util.Map">
		select	
			t.*
		from APP_LOAN_BRANCHSPCAILPRI_BRANCH_H t
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
				<if test="id != null and id != ''">
	  				and t.ID = #{id}				
	  			</if>
				<if test="branchNo != null and branchNo != ''">
	  				and t.BRANCH_NO = #{branchNo}				
	  			</if>
				<if test="branchName != null and branchName != ''">
	  				and t.BRANCH_NAME = #{branchName}				
	  			</if>
				<if test="instDate != null">
	  				and t.INST_DATE = #{instDate}				
	  			</if>
				<if test="endDate != null">
	  				and t.END_DATE = #{endDate}				
	  			</if>
				<if test="handPerson != null and handPerson != ''">
	  				and t.HAND_PERSON = #{handPerson}				
	  			</if>
				<if test="orgNo != null and orgNo != ''">
	  				and t.ORG_NO = #{orgNo}				
	  			</if>
    	</trim>
	</select>
</mapper>